body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: #bbada0;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

header .game-title {
    font-size: 2rem;
    margin: 0;
    flex: 1;
    text-align: center;
}

.scores {
    display: flex;
    gap: 15px;
}

.score-container {
    background: #8f7a66;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.score-container div {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.score-container span {
    font-size: 1.2rem;
    font-weight: bold;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    background: #bbada0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #cdc1b4;
    color: #776e65;
    border-radius: 5px;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.popup h1 {
    font-size: 2rem;
    margin: 0 0 20px;
}

.popup button {
    background: #8f7a66;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: #776e65;
}
